:css
    legend{font-weight:bold;}

= render "matriculas/matriculas/admision/partials/assets_css"
.page-header
    = breadcrumb %w(Matriculas Informes)
    %h1 Informes de Matrículas

.options.hide
    - PlanEstudio::MALLAS_SELECT.each do |malla|
        %option{value: malla[:id], 'data-institucion' => malla[:institucion_id]}= malla[:name]

=notificaciones

%div.span10  
    = form_for :deudas, url: matriculas_informes_deudas_path, html: {class: 'form-inline informacion-tabulada deudas'} do |f|
        %fieldset
            %legend Informe de deudas por período
            %br
            Período: 
            %select{name: 'periodo_id'}
                - @periodos.each do |item|
                    %option{value: item.id}= item.nombre
            %select{:name => "institucion_sede_id"}
                %option Seleccione Institución
                - @instituciones_sedes.each do |item|
                    %option{:value => item[:institucion_sede_id], 'data-institucion' => item[:institucion_id]}= item[:nombre]
            %select{name: 'malla', prompt: 'Seleccione Malla'}
            = f.submit 'Filtrar'
            %br

%div.span10  
    = form_for :pagos, url: matriculas_informes_lista_pagos_path, html: {class: 'form-inline informacion-tabulada'} do |f|
        %fieldset
            %legend Listado de pagos por fecha
            %br
            = f.text_field :fecha_inicio, class: 'fecha', placeholder: 'Fecha de inicio'
            = f.text_field :fecha_termino, class: 'fecha', placeholder: 'Fecha de término'
            %select{:name => "institucion_sede_id", :prompt => 'Seleccione institución'}
                - InstitucionSede.all.each do |item|
                    - unless current_role[:nombre] == "Administrador" || current_role[:nombre] == "Vicerrector Financiero"
                        - if item.sede_id.to_i == @usuario.sede_id.to_i
                            %option{:value => item.id}= item.nombre.gsub("Casa matriz ", "").gsub("Sede ", "")
                    - else
                        %option{:value => item.id}= item.nombre.gsub("Casa matriz ", "").gsub("Sede ", "")
            
            = f.submit 'Filtrar'
            %br     
%div.span10  
    = form_for :pagos, url: matriculas_informes_lista_pagos_anulados_path, html: {class: 'form-inline informacion-tabulada'} do |f|
        %fieldset
            %legend Listado de pagos anulados por fecha
            %br
            = f.text_field :fecha_inicio2, class: 'fecha', placeholder: 'Fecha de inicio'
            = f.text_field :fecha_termino2, class: 'fecha', placeholder: 'Fecha de término'
            %select{:name => "institucion_sede_id", :prompt => 'Seleccione institución'}
                - InstitucionSede.all.each do |item|
                    - unless current_role[:nombre] == "Administrador" || current_role[:nombre] == "Vicerrector Financiero"
                        - if item.sede_id.to_i == @usuario.sede_id.to_i
                            %option{:value => item.id}= item.nombre.gsub("Casa matriz ", "").gsub("Sede ", "")
                    - else
                        %option{:value => item.id}= item.nombre.gsub("Casa matriz ", "").gsub("Sede ", "")
            
            = f.submit 'Filtrar'
            %br     

%div.span10  
    = form_for :prorrogas, url: matriculas_informes_prorrogas_path, html: {class: 'form-inline informacion-tabulada prorrogas'} do |f|
        %fieldset
            %legend Informe de prórrogas por rango de fechas
            %br
            = f.text_field :fecha_inicio, class: 'fecha', placeholder: 'Fecha de inicio'
            = f.text_field :fecha_termino, class: 'fecha', placeholder: 'Fecha de término'
            %br
            %select{:name => "institucion_sede_id"}
                %option Seleccione Institución
                - @instituciones_sedes.each do |item|
                    %option{:value => item[:institucion_sede_id], 'data-institucion' => item[:institucion_id]}= item[:nombre]
            %select{name: 'malla', prompt: 'Seleccione Malla'}
            = f.submit 'Filtrar'
            %br

%div.span10   
    = form_for :deudas, url: matriculas_informes_situaciones_path, html: {class: 'form-inline informacion-tabulada deudas'} do |f|
        %fieldset
            %legend Informe de situaciones por rango de fechas
            %br
            = f.text_field :fecha_inicio, class: 'fecha', placeholder: 'Fecha de inicio'
            = f.text_field :fecha_termino, class: 'fecha', placeholder: 'Fecha de término'
            %select{:name => "institucion_sede_id"}
                %option Seleccione Institución
                - @instituciones_sedes.each do |item|
                    %option{:value => item[:institucion_sede_id], 'data-institucion' => item[:institucion_id]}= item[:nombre]
            = f.submit 'Filtrar'
            %br

:javascript
    $(function(){
        $('.fecha').datepicker();

        $(".deudas [name='institucion_sede_id']").change(function(){
            $(".deudas [name='malla']").html('');

            $(".options option").each( function(k, v){

                if( $(v).attr('data-institucion') == $(".deudas [name='institucion_sede_id'] option:selected").attr('data-institucion') )
                {
                   $(".deudas [name='malla']").append( $(v).clone() );
                }
            });

        });

        $(".prorrogas [name='institucion_sede_id']").change(function(){
            $(".prorrogas [name='malla']").html('');

            $(".options option").each( function(k, v){

                if( $(v).attr('data-institucion') == $(".prorrogas [name='institucion_sede_id'] option:selected").attr('data-institucion') )
                {
                   $(".prorrogas [name='malla']").append( $(v).clone() );
                }
            });

        });

        $('form').submit(function(){
            notify_info('Generando informe, por favor espere...');
            $('input[type=submit]').attr('disabled', true);
        });

    });