#obtener-trabajos
    :css
        col.periodo { width: 200px; }
        col.creacion { width: 200px; }
    
    .page-header
        %h1 Registros de alumno trabajador

    = render "alumnos/alumnos/partials/seleccion_plan"
    = render "alumnos/alumnos/partials/informacion_tabulada_alumno"

    - if @existen_datos
        %table.table.table-condensed.estrecha
            %colgroup
                %col.periodo
                %col.creacion
            %thead
                %tr
                    %th.txCenter
                        Vigencia
                    %th.txCenter
                        Fecha de registro
            %tbody
                - @trabajos.each do |item|                   
                    %tr
                        %td.txCenter= item[:periodo].nombre
                        %td.txCenter= fecha_humana item[:registro].created_at

    - else
        = notificaciones
                    