- item[:inscripciones].each do |i|
	.periodo-transicion
		.modal.hide.modal-inscripcion{:id => "modal_editar_inscripcion_#{i[:inscripcion].id}"}
			.modal-header
				%button.close{:data => {:dismiss => "modal"}}
					x
				%h3= item[:nombre_real_asignatura]
			= form_tag "#{transicion_editar_inscripcion_asignaturas_path i[:inscripcion].id}", :method => :post do
				%input{:type => "hidden", :name => "seccion_out[estado]", :value => Seccion::CERRADA}
				%input{:type => "hidden", :name => "seccion_out[cupos]", :value => 1}
				%input{:type => "hidden", :name => "seccion_out[numero]", :value => 20}
				%input{:type => "hidden", :name => "seccion_out[jornada]", :value => @jornada}
				%input{:type => "hidden", :name => "seccion_out[institucion_sede_id]", :value => @institucion_sede_id}
				%input{:type => "hidden", :name => "seccion_in[links_secciones_dictadas][][asignatura_id]", :value => item[:asignatura].id}
				%input{:type => "hidden", :name => "seccion_in[jornada]", :value => @jornada}
				%input{:type => "hidden", :name => "seccion_in[institucion_sede_id]", :value => @institucion_sede_id}
				.modal-body
					.control-group
						.controls{:style => "margin-top: 4px;"}
							%select.periodo.required{:style => "width: 100px; float: none;", :name => "seccion_in[periodo_id]"}
								%option{:value => ""} :: Periodo ::
								- @periodos.each do |periodo|
									%option{:value => periodo.id}= periodo.nombre
					.control-group
						.controls{:style => "margin-top: 4px;"}
							%select.required.estado{:style => "width: 100px;", :name => "inscripcion_seccion[estado]"}
								%option{:value => ""} :: Estado ::
								- @estados_inscripciones.each do |estado|
									%option{:value => "#{AlumnoInscritoSeccion.const_get estado}"}= get_name AlumnoInscritoSeccion, "ESTADOS", AlumnoInscritoSeccion.const_get(estado)
					.control-group
						.controls{:style => "margin-top: 4px;"}
							%input.required.nota-final.calificacion_con_0{:type => "text", :placeholder => ":: Nota ::", :style => "width: 100px; height: 15px !important;", :name => "inscripcion_seccion[nota_final]"}
					= render :partial => "partials/notificaciones/info", :locals => {:mensaje => "Las notas de presentacion, de examen y de examen de repetición serán dejadas con nota 0."}
				.modal-footer
					%button.btn.btn-primary.loading-button{:type => "submit", :data => {"loading-text" => "... editando registro ..."}}
						%i.icon-white.icon-edit
						Editar inscripcion

	:javascript
		$(document).ready(function() {
			var $formulario = $("#modal_editar_inscripcion_#{i[:inscripcion].id} form");
			$formulario.validate({
				submitHandler : function(form) {
					if(confirm("¿Está seguro que desea editar esta inscripción?")) {
						$(form).find(":input.loading-button").button('loading');
						form.submit();
					}
				}
			});
			$formulario.find("select.periodo").val(#{i[:periodo].id});
			$formulario.find("select.estado").val(#{i[:inscripcion].estado});
			$formulario.find("input.nota-final").val(#{i[:inscripcion].nota_final});
		})