:css
    #update {
        float : right;
    }

.sectionHeader
    %h1 Buscar Alumno
= notificaciones
.well{style: 'margin-bottom: 0px; padding-bottom: 0px'}
    = form_for :busqueda, class: 'form-search', method: :get do |f|
        %input.input-large.search-query{name: 'busqueda', placeholder: 'Buscar por rut o nombre', style: 'height: 28px'}
        %button.btn.btn-primary Buscar
        %br
        %br
        %span{style: 'color: rgb(155, 155, 155); font-weight: bolder'} Nota: Utilice solo el Primer nombre y el Apellido Paterno o el Rut con dígito verificador
- unless @items.blank?
    %br
    %h4 Buscando: #{params[:busqueda]}
    %br
    = render partial: "partials/notificaciones/warning", locals: { mensaje: raw("<h4 class='alert-heading'>Importante</h4> <p style='font-weight: bold;'>Traslade la información solo en caso que el alumno desee cambiar de sede luego de matricularse en su antigua sede en este periodo.</p>")}
    = link_to matriculas_pagos_ver_alumno_path(params[:busqueda]), class: 'btn btn-success' do
        %i.icon-search.icon-white
        Ver situación administrativa
    = link_to alumno_obtener_informe_curricular_path(@usuario), class: 'btn btn-primary' do
        %i.icon-search.icon-white
        Ver situación académica
    %br
    %br
    %form#traslados{method: 'post', action: update_informacion_matriculados_sede_antigua_path}
        .control-group
            %label.control-label{:for =>"select-civil"}Sede Destino
            .controls
                %select.required{name: 'sede_id'}
                    %option{value: ""} :::: Seleccione una Sede ::::
                    - @sedes.each do |sede|
                        %option{value: sede.id}= sede.nombre
        %table.table
            %thead
                %tr
                    %th #
                    %th Rut
                    %th Nombre
                    %th Carrera
                    %th Periodo
                    %th Sede
                    %th Estado
                    %th Plan Origen
            %tbody
                - @items.each_with_index do |i,index|

                    - usuario = i[:usuario]
                    - alumno  = i[:alumno]
                    - ape     = i[:alumno_plan_estudio]
                    - isp     = i[:institucion_sede_plan]
                    - plan    = i[:plan_estudio]

                    %tr{class: 'fila'+index.to_s}
                        %td.txCenter= index+1
                        %td.txCenter= usuario.rut unless usuario.rut.blank?
                        %td.txCenter= usuario.nombre unless usuario.nombre.blank?
                        %td.txCenter= plan.nombre unless plan.nombre.blank?
                        %td.txCenter= isp.periodo.nombre unless isp.periodo.blank?
                        %td.txCenter= get_name(Sede,:SEDES,isp.institucion_sede.sede_id) unless isp.institucion_sede.blank?
                        %td.txCenter= get_name(Alumno,:ESTADOS_ACADEMICOS,ape.estado) unless ape.estado.blank?
                        %td.txCenter
                            %input.check{type: 'checkbox',name: 'ape_ini_id',value: ape.id}

                    %input{type: 'hidden',name: 'rut',value: usuario.rut}
        %input#update.btn.btn-primary{type: 'submit',value: "Trasladar Información Académica / Administrativa"}

:javascript
    
    var cont_check = 0; 

    $('.check').change(function(){
        if($(this).attr('checked')){
        	$('.check').attr('disabled' , true);
            $(this).attr('disabled' , false);
            cont_check = cont_check + 1;

        }
        else{
        	$('.check').attr('disabled' , false);
        	cont_check = cont_check - 1;
        }
    });

    $("#traslados").validate({
        invalidHandler: function(form, validator) {
            notify_error("Traslado de Información", "Por favor, compruebe que ha seleccionado el plan de origen y la sede de destino.");
        },
        submitHandler: function(form) {
            if(cont_check == 1){
                if( confirm("¿Está seguro que desea trasladar la información de este plan a la sede seleccionada?") ) {
                    notify_info("Espere un momento", "Por favor, Espere mientras se traslada la información Gracias");
                    form.submit();
                }
            }
            else{
                notify_error("Traslado de Información", "Por favor, compruebe que ha seleccionado el plan de origen y la sede de destino.");
            }
        }
    });
