.modal.hide{:id => "modal#{item[:asignatura].id}", :style => "width: 560px"}	
	.modal-header
		%button.close{:data => {:dismiss => "modal"}}
			x
		%h3
			= "Historial de " 
			%span= item[:nombre_real_asignatura]
	.modal-body
		%table.table.table-condensed{:style => "margin-bottom: 0;"}
			%colgroup
				%col
				%col
			%thead
				%tr
					%th.txLeft Periodo
					%th.txLeft Estado
					%th.txLeft Nota
					- if es_periodo_transicion? and current_role_can?(:coordinador_carrera)
						%th.txLeft
			%tbody
				- item[:inscripciones].each do |i|
					%tr
						%td.txLeft= i[:periodo].nombre
						%td.txLeft= get_name AlumnoInscritoSeccion, "ESTADOS", i[:inscripcion].estado
						%td.txLeft= i[:inscripcion].nota_final
						- if es_periodo_transicion? and current_role_can?(:coordinador_carrera)
							%td.txLeft
								%a.eliminar-inscripcion{:href => "#{transicion_eliminar_inscripcion_asignaturas_path i[:inscripcion].id}"}
									%i.icon-remove 
									Eliminar inscripción		
								%a.editar-inscripcion{:href => "#", :data => {:toggle => "modal", "modal-in" => "#modal_editar_inscripcion_#{i[:inscripcion].id}", "modal-out" => "#modal#{item[:asignatura].id}"}}
									%i.icon-edit 
									Editar inscripción

