.sectionHeader
    %ul.breadcrumb
        %li.active
            %a{:href => "#"}  
                Carreras

    = link_to raw("#{t 'crud.new'} Carrera"), new_mantenedores_carrera_path, class: "btn btn-primary"
%div.span10{:style => "margin-top:20px"}
    %table.table.table-striped.table-bordered{:id => 'carreras'}
        %thead
            %tr
                %th ID
                %th Nombre
                %th Nivel
                %th Duración
        %tbody
            - @items.each do |i|
                %tr
                    %td= i.id
                    %td
                        .btn-group
                            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
                                = i.nombre
                                %span.caret
                            %ul.dropdown-menu
                                %li= link_to raw(t('crud.edit')), edit_mantenedores_carrera_path(i)
                                %li= link_to raw(t('crud.delete')), mantenedores_carrera_path(i), :confirm => t('crud.confirm'), method: :delete
                                %li.divider
                                %li= history i, t(:historial) 
                    %td= get_name PlanEstudio, :NIVELES, i.nivel
                    %td= i.duracion

= datatable_src
= datatable("carreras")
:css
    table.table thead th{color:#333 !important;}