:css
	.inline{float: left; margin-right: 10px;}

%h3 Filtrar Secci贸n
%form.form.form-inline#filtro-secciones{:action => url_metodo ,:method => "post"}
	%div.control-group.inline
		.control-label
			%label Carrera
		.controls
			%select.required{:name => "filtro[plan_estudio_id]"}
				%option{value: ""} .: Elija una Carrera :.
				- plan_estudios.each do |i|
					- selected = ((not filtro.blank?) and filtro[:plan_estudio_id].to_i == i.id) ? true : false
					%option{:value => i.id , :selected => selected  }
						= "#{i.nombre} - [Malla #{i.siaa_id_ma}]" 
	
	%div.control-group.inline
		.control-label
			%label Asignaturas
		.controls
			%select.required{:name => "filtro[asignatura_id]"}
				%option{value: ""} .: Elija Una Opci贸n :.
				- unless asignaturas.blank? 
					- asignaturas.each do |a|
						%option{:value => a.id , :selected => filtro[:asignatura_id].to_i == a.id ? true : false}= "#{a.nombre} - [#{a.semestre}]"
	
	%div.control-group.inline
		.control-label
			%label Periodo
		.controls
			%select.required{:name => "filtro[periodo_id]"}
				%option{value: ""} .: Elija Periodo :.
				- Periodo.all(:fields => [:id], :order => [:anio.desc, :semestre.desc]).each do |i|
					- periodo_selected = ((not filtro.blank?) and filtro[:periodo_id].to_i == i.id) ? true : false
					%option{value: i.id, :selected => periodo_selected}= i.nombre
	
	%div.control-group.inline
		.control-label
			%label Seccion
		.controls
			%select.required{:name => "filtro[seccion_id]" }
				%option{value: ""} .: Elija Una Opci贸n :.
				- unless secciones.blank? 
					- secciones.each do |s|
						%option{:value => s.id , :selected => filtro[:seccion_id].to_i == s.id ? true : false}= s.nombre
	
	%div.form-actions
		%button.btn.btn-primary{type: "submit"}
			%i.icon.icon-white.icon-search
			= texto_boton

:javascript
	$(document).ready(function(){
		$("#filtro-institucion").validate({
				invalidHandler: function(form, validator) {
				},
				submitHandler: function(form) {
					form.submit();
				}
			})
		/*Actualiza el combo de carreras segun sede*/
		$("select[name='filtro[institucion_id]']").change(function(){
			var institucion_sede_id = $(this).val();
			$.ajax({
				url: "#{ajax_apoyo_docente_buscar_carreras_path}",
				type: 'POST',
				data: {institucion_sede_id :  institucion_sede_id},
				success: function(data) {
					var options = "<option>.: Elija Una Carrera :.</option>";
					$.each(data.carreras, function(k,v){
						options = options +  "<option value='" + v.plan_id + "'>" + v.nombre + " [Malla " + v.siaa_id_ma + "] </option>"
					});
					$("select[name='filtro[plan_estudio_id]']").html(options);
				}
			});
		});

		$("select[name='filtro[plan_estudio_id]']").change(function(){
			var plan_estudio_id = $(this).val();
			$.ajax({
				url: "#{ajax_apoyo_docente_buscar_asignaturas_path}",
				type: 'POST',
				data: {plan_estudio_id :  plan_estudio_id},
				success: function(data) {
					var options = "<option>.: Elija Una Asignatura :.</option>";
					$.each(data.asignaturas, function(k,v){
						options = options +  "<option value='" + v.asignatura_id + "'>" + v.nombre + " [Nivel " + v.semestre + "] </option>"
					});
					$("select[name='filtro[asignatura_id]']").html(options);
				}
			});
		});

		$("select[name='filtro[periodo_id]']").change(function(){
			var periodo_id = $(this).val();
			var asignatura_id = $("select[name='filtro[asignatura_id]']").val();
			console.log(periodo_id);
			$.ajax({
				url: "#{ajax_apoyo_docente_buscar_secciones_por_periodo_path}",
				type: 'POST',
				data: {periodo_id :  periodo_id, asignatura_id: asignatura_id},
				success: function(data) {
					var options = "<option>.: Elija Una Secci贸n :.</option>";
					$.each(data.secciones, function(k,v){
						options = options +  "<option value='" + v.seccion_id + "'>" + v.nombre + "</option>"
					});
					$("select[name='filtro[seccion_id]']").html(options);
				}
			});
		});
	});