.page-header
    .titulo{style: 'float: left; display: inline'}
        %h1{style: 'margin-bottom: 0'}
            ="Detalle de Caja Diaria "
            = (n = get_name(RangoDocumento, :CENTRO_COSTOS, eval(params[:tipo]))).blank? ? "Distancia Efectivo y Depósitos" : n
            =" - #{@institucion_sede.nombre}" 
        %h2{style: 'margin-bottom: 0'}
            = @f_i
            = "hasta #{@f_t}" unless @f_t.blank?
    .botones{:style => "float: right;"}
        %a.imprimir-resumen.not-print.btn.btn-info.impresion{:href => "#"}
            %i.icon-white.icon-print
            Imprimir Resumen
    .clearfix

%table.table.table-condensed
    %thead
        %tr
            %th Ejecutivo
            %th Efectivo
            %th Cheque al día
            %th Cheque a fecha
            %th Redbank
            %th Deposito
            %th Total
    %tfoot
        %tr
            %th Totales
            %th.txRight= number_to_currency @datos.map{|x| x[:efectivo].to_i}.inject(:+)
            %th.txRight= number_to_currency @datos.map{|x| x[:cheque_dia].to_i}.inject(:+)
            %th.txRight= number_to_currency @datos.map{|x| x[:cheque_fecha].to_i}.inject(:+)
            %th.txRight= number_to_currency @datos.map{|x| x[:tarjetas].to_i}.inject(:+)
            %th.txRight= number_to_currency @datos.map{|x| x[:depositos].to_i}.inject(:+)
            %th.txRight= number_to_currency @datos.map{|x| x[:total]}.inject(:+)
    %tbody
        - @datos.each do |i|
            %tr
                %td= i[:ejecutivo]
                %td.txRight= number_to_currency i[:efectivo].to_i
                %td.txRight= number_to_currency i[:cheque_dia].to_i
                %td.txRight= number_to_currency i[:cheque_fecha].to_i
                %td.txRight= number_to_currency i[:tarjetas].to_i
                %td.txRight= number_to_currency i[:depositos].to_i
                %td.txRight= number_to_currency i[:total]

        /
        / - @items.each do |i|
        /   = i.inspect
    
%br
%table#lista.not-print.table.table-condensed
    %thead
        %tr
            %th Boleta
            %th Rut
            %th Nombre
            %th Carrera
            %th Tipo Pago
            %th Fh. Vencimien.
            %th Forma Pago
            %th.sorting_1 Fh. Pago
            %th Serie Ch./Dep
            %th Fh. Ch./Dep
            %th Número Cuota
            %th Monto
            %th Interés
            %th Saldo
            %th Pagaré
            %th Ejecutivo
            %th Sede Plan
    %tbody
        - @abonos.each do |item|
            - abono = item[:abono]
            %tr
                %td.txCenter= item[:numero]
                %td.txCenter= abono.alumno_plan_estudio.blank? ? abono.documento_venta.rut : abono.alumno_plan_estudio.alumno.datos_personales.rut
                %td.txCenter= abono.alumno_plan_estudio.blank? ? abono.documento_venta.nombre_completo : abono.alumno_plan_estudio.alumno.datos_personales.nombres+" "+abono.alumno_plan_estudio.alumno.datos_personales.apellidos
                %td.txCenter= abono.alumno_plan_estudio.blank? ? abono.documento_venta.carrera : abono.alumno_plan_estudio.institucion_sede_plan.plan_estudio.nombre_completo
                %td.txCenter= item[:tipo_abono].blank? ? get_name(PagoComprometido, :CENTROS_COSTOS, abono.pago_comprometido.centro_costo) : item[:tipo_abono].titleize
                %td.txCenter= value abono.pago_comprometido, :fecha_vencimiento unless abono.pago_comprometido.blank?
                %td.txCenter= @medios_pagos_array.select{|mp| mp[:id] == abono.medio_pago_id}.first[:nombre]
                %td.txCenter= l abono.created_at, format: :fecha
                %td.txCenter= abono.numero_documento
                %td.txCenter= l abono.fecha_documento unless abono.fecha_documento.blank? 
                %td.txCenter= abono.pago_comprometido.blank? ? "-" : abono.pago_comprometido.numero_cuota
                %td.txCenter= abono.monto
                %td.txCenter= abono.interes
                %td.txCenter= abono.pago_comprometido.blank? ? "-" : abono.pago_comprometido.saldo 
                %td.txCenter= value abono.pago_comprometido.pagare, :numero unless abono.pago_comprometido.blank?
                %td.txCenter= abono.ejecutivo_matriculas.datos_personales.iniciales
                %td.txCenter
                    - unless item[:documento_venta].alumno_plan_estudio.blank?
                        = get_name(Sede, :SEDES, item[:documento_venta].alumno_plan_estudio.institucion_sede_plan.institucion_sede.sede_id)
                    - else
                        = get_name(Sede, :SEDES, item[:documento_venta].institucion_sede.sede_id)
= datatable_src
= datatable 'lista', {nosort: true}  